button{
    border: none;
    background-color: rgba(255, 192, 203, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px;
    padding: 12px;
}
button:hover{
    background-color: red;
    color: white;
    padding: 40px;
}
a::visited{
    color: black;
}
a:hover{
    background-color: green;
}
p::first-letter{
    color: blue;
}
p::first-line{
    color: yellow;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
div>p:first-child{
    background-color: rgb(133, 131, 131);
    color: white;
}
li:nth-child(2){
    color: white;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
li:nth-child(5){
    background-color: yellow;
    font-family: cursive;
    font-size: 20px;
    color: blue;
}
h2::before{
    content: "this is a befire";
    font-size: 20px;
    font-style: italic;

}
h2::after{
    content: "mama diba toxic";
}
